<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Connect</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
	<style type="text/css">
		.image {
    		max-height:50px;
    		height: auto;
		}
	</style>
	
	<!-- Javascript -->
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
	<script type="text/javascript" class="init">
		$(document).ready(function(){
			$('#connects').DataTable();
			$('#phone').mask('(00) 00000-0000');
		    $('#date').mask('00/00/0000');
		    $('#hour').mask('00:00');
		    $('#birthDate').mask('00/00/0000');
		});
	</script>
</head>
<body>

<div class="container">
	<h1 class="display-4"><img class="image" th:src="@{../../../img/logo_connect.png}"/> CONNECT</h1>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Menu</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			      <div class="navbar-nav">
			        <a class="nav-link" aria-current="page" href="/home">Início</a>
			        <!-- <a class="nav-link" href="/user/index">User</a> -->
			        <a class="nav-link" href="/connect/index">Connect</a>
			        <a class="nav-link" href="/worship/index">Cultos</a>
			        <a class="nav-link" href="/voluntario/index">Voluntários</a>
			        <a class="nav-link" href="/ministerio/index">Ministérios</a>
			        <a class="nav-link active" href="/escala/index">Escalas</a>
			      </div>
			    </div>
			  </div>
		</nav>
	<hr class="my-4">
	<p class="lead">Adicionar Voluntario à Escala</p>
	<h5 th:text="|Data: ${escalaIndex.culto.date}|"></h5>
	<h5 th:text="|Hora: ${escalaIndex.culto.hour}|"></h5>
	<hr class="my-4">
	<form action="#" th:action="@{/escala/add-voluntario-sem-cadastro}" th:object="${voluntarioSemCadastro}" method="post">
		<div class="form-group">
		   	<label for="name">Nome</label>
		   	<input class="form-control" type="text" th:field="*{nomeVoluntario}" id="name" placeholder="Nome do Voluntário" required>
		</div>
	    <br>
	    <div class="form-group">
		   	<label for="name">Sobrenome</label>
		   	<input class="form-control" type="text" th:field="*{sobrenomeVoluntario}" id="name" placeholder="Sobrenome do Voluntário" required>
		</div>
	    <br>
	    <div class="form-group">
	    	<label for="email">Telefone</label>
	    	<input class="form-control" type="tel" th:field="*{telefoneVoluntario}" id="phone" placeholder="(99) 99999-9999" required>
	    </div>
	    <br>		
		<div class="form-group">
			<label for="date">Escolher Ministério</label>
			<select class="form-control" th:field="*{idMinisterio}">
    			<option 
    				th:each="min : ${ministerios}"
        			th:value="${min.id}" 
        			th:text="${min.name}">
        		</option>
			</select>
		</div>
		<input type="hidden" th:value="${escalaIndex.id}" name="idEscala" />
		<br>
		<div class="form-group">	
		   	<input class="btn btn-primary" type="submit" value="Adicionar Voluntário">
		   	<a class="btn btn-danger" th:href="@{/escala/{id}/list-voluntarios(id=${escala.id})}">Voltar</a>   
		</div>
	</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>