<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usuários do Sistema</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
	
	<!-- Javascript -->
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fstyling%2Fbootstrap5.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
	<script type="text/javascript" class="init">
		$(document).ready(function(){
		    $('#phone').mask('(00) 00000-0000');
		});
	</script>
</head>
<body>

	<div class="container">
		<h1 class="display-4"><img class="image" th:src="@{../img/logo_connect.png}"/> CONNECT</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Menu</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			      <div class="navbar-nav">
			        <a class="nav-link active" aria-current="page" href="/home">Início</a>
			        <!-- <a class="nav-link" href="/user/index">User</a> -->
			        <a class="nav-link" href="/connect/index">Connect</a>
			        <a class="nav-link" href="/worship/index">Cultos</a>
			      </div>
			    </div>
			  </div>
			</nav>
			<hr class="my-4">
			<p class="lead">System User Update</p>
		<form action="#" th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="name">Name</label>
		    	<input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
		    	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
		    <br>
		    <div class="form-group">
		    	<label for="email">Email</label>
		    	<input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email">
		    	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		    </div>
		    <br>
		    <div class="form-group">
		    	<label for="phone">Phone</label>
		    	<input type="tel" class="form-control" th:field="*{phone}" id="phone" placeholder="(99) 99999-9999">
		    	<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
		    </div>
		    <br>
		    <div class="form-group">
		    	<input type="submit" class="btn btn-warning" value="Update User">
		    	<a class="btn btn-primary" th:href="@{/user/index}">Back</a>  
			</div>
		</form>
	</div>
</body>
</html>