<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Connect Worship System</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
	
	<!-- Javascript -->
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Connect Worship System</h1>
			<p class="lead">Hello, welcome to the Connect Worship System.</p>
			<hr class="my-4">
			<p>Escolha uma das opções abaixo:</p>
			<div class="card">
				<h4 class="card-header">User</h4>
				<div class="card-body">
					<h5 class="card-title">User registration</h5>
					<p class="card-text">Insert, change or delete a system user.</p>
					<a href="/user/index" class="btn btn-primary">Enter</a>
				</div>
			</div>
			<br>
			<div class="card">
				<h4 class="card-header">Connect</h4>
				<div class="card-body">
					<h5 class="card-title">Connect registration</h5>
					<p class="card-text">Insert, change or delete a system connect.</p>
					<a href="/connect/index" class="btn btn-primary">Enter</a>
			  	</div>
			</div>
			<br>
			<div class="card">
				<h4 class="card-header">Worship</h4>
				<div class="card-body">
					<h5 class="card-title">Worship Management</h5>
			    	<p class="card-text">Manage cults, registering, editing and deleting. In addition to being able to add connects to them.</p>
			    	<a href="/worship/index" class="btn btn-primary">Enter</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>