<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Connect Worship System</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
	
	<!-- Javascript -->
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
	<script type="text/javascript" class="init">
		$(document).ready(function(){
			$('#phone').mask('(00) 00000-0000');
		    $('#date').mask('00/00/0000');
		    $('#hour').mask('00:00');
		});
	</script>
</head>
<body>

<div class="container">
	<h1 class="display-4">Connect Worship System</h1>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link" aria-current="page" href="/home">Home</a>
		        <a class="nav-link" href="/user/index">User</a>
		        <a class="nav-link" href="/connect/index">Connect</a>
		        <a class="nav-link active" href="/worship/index">Worship</a>
		      </div>
		    </div>
		  </div>
	</nav>
	<hr class="my-4">
	<p class="lead">Worship Registration</p>
			<form action="#" th:action="@{/worship/addworship}" th:object="${worship}" method="post">
				<div class="form-group">
			    	<label for="date">Date</label>
			    	<input class="form-control" type="text" th:field="*{date}" id="date" placeholder="dd/MM/yyyy" required>
			    	<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
			    </div>
			    <br>
			    <div class="form-group">
			    	<label for="hour">Hour</label>
			    	<input class="form-control" type="text" th:field="*{hour}" id="hour" placeholder="00:00" required>
			    	<span th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></span>
			    </div>
			    <br>
			    <div class="form-group">
		    		<label for="status">Status</label>
		    		<select class="form-control" th:field="*{status}" id="status">
    					<option th:each="statusOpt : ${T(com.lagoinha.connect.model.Status).values()}" 
        					th:value="${statusOpt}" th:utext="${statusOpt}"></option>
					</select>
		    	</div>
			    <br>	
			    <div class="form-group">	
			    	<input class="btn btn-primary" type="submit" value="Add Worship">
			    	<a class="btn btn-danger" th:href="@{/worship/index}">Voltar</a>   
				</div>
			
			</form>
</div>
</body>
</html>